[user]
	name = Kevin Deng
	email = sxzz@sxzz.moe
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIBiM3iciB9JcRtEtmXoCGV1UpQ65WcVOLv71e/v/mM0
[commit]
	gpgSign = true
	verbose = true
[init]
	defaultBranch = main
[receive]
	denyCurrentBranch = warn
[push]
	default = current
	autoSetupRemote = true
[rebase]
	autoStash = true
[core]
	autocrlf = input
	pager = delta
	excludesfile = /Users/kevin/.gitignore
[tag]
	gpgSign = true
[pull]
	rebase = true
[help]
	autocorrect = prompt
[interactive]
	diffFilter = delta --color-only
[diff]
	colorMoved = default
	algorithm = histogram
[delta]
	navigate = true
	light = false
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[log]
	date = iso-local
[alias]
	undo = reset --soft HEAD^
	cancel = reset --hard HEAD^
	append = commit -a --amend --no-edit
	df = diff
[url "git@github.com:"]
	insteadof = https://github.com/
[include]
	path = ~/.gitconfig.local
