shell-integration-features = no-cursor

theme = "Ultra Dark"
background-opacity = 0.8
background-blur = 10

window-height = 25
window-width = 100
window-padding-x = 4

font-size = 14
font-family = JetBrains Mono Regular Light
adjust-cell-width = 2
adjust-cell-height = 2

cursor-style = bar
cursor-style-blink = false

keybind = alt+backspace=text:\x1b\x7f
